<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>zoloto-youdomy</title>
  <link rel="stylesheet" href="css/styles.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="page-body">
  //= include/header.html
  <div class="page-main__wrapper">
    <main class="page-main">
      <div class="title-section__wrapper">
        <section class="title-section title-section--main">Фото</section>
      </div>
      <div class="content-section__wrapper">
        <section class="content-section">
          <div class="galery">
            <div class="owl-carousel">
              <div class="galery-item">
                <div class="item"><a href="img/pic_1.jpg" data-fancybox="gallery"><img src="img/pic_1.jpg" alt=""></a></div>
              </div>
              <div class="galery-item">
                <div class="item"><a href="img/pic_2.jpg" data-fancybox="gallery"><img src="img/pic_2.jpg" alt=""></a></div>
              </div>
              <div class="galery-item">
                <div class="item"><a href="img/pic_3.jpg" data-fancybox="gallery"><img src="img/pic_3.jpg" alt=""></a></div>
              </div>
              <div class="galery-item">
                <div class="item"><a href="img/pic_1.jpg" data-fancybox="gallery"><img src="img/pic_1.jpg" alt=""></a></div>
              </div>
              <div class="galery-item">
                <div class="item"><a href="img/pic_2.jpg" data-fancybox="gallery"><img src="img/pic_2.jpg" alt=""></a></div>
              </div>
              <div class="galery-item">
                <div class="item"><a href="img/pic_3.jpg" data-fancybox="gallery"><img src="img/pic_3.jpg" alt=""></a></div>
              </div>
            </div>
          </div>
            <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis quo, quia quis omnis repellat repellendus obcaecati ducimus quos aspernatur amet recusandae quae molestiae, minus? Beatae dignissimos fuga, assumenda atque. Porro!</span>
            <span>Laboriosam blanditiis porro dolorum, quod minima at quaerat quasi, aspernatur cumque deleniti ab numquam distinctio iste, ad ea ipsam officia ratione mollitia facere voluptatibus rerum architecto suscipit? Consectetur, minus, eius!</span>
            <span>Quidem magni culpa ratione aspernatur sint, similique eligendi, eius dignissimos veritatis a voluptatem quas nisi officia excepturi repellendus, ab quis minima quod ea assumenda qui suscipit. Sint, ut ratione! In.</span>
            <span>Veniam iste, fuga illum sit dolore vitae at culpa quis recusandae aperiam harum, accusamus. Dolore quaerat tempora itaque, asperiores harum accusantium rem cumque vitae earum hic cum commodi quidem sint.</span>
            <span>Dolorem nostrum veritatis facere, quibusdam officia voluptatem similique tempora, enim perferendis! Similique autem pariatur amet, soluta quod eius harum nam doloribus odit dolorum sequi officiis accusantium modi. Optio, recusandae, totam.</span>
            <span>Illo provident voluptas a non ducimus quia sapiente ipsa quae inventore nam consequuntur amet facere fugit corporis, minus, doloremque distinctio, saepe ullam nesciunt magnam quo! Dolores magni nam velit eligendi.</span>
            <span>Dolore itaque quaerat blanditiis tempore doloribus optio veritatis error commodi consequuntur magnam quod et quae, officiis, aut esse id nam quia. Possimus dolor dolore, hic eveniet earum incidunt voluptatum placeat.</span>
            <span>Reprehenderit illum quia tempora voluptatibus repudiandae commodi iure ratione. Mollitia cum fugit quos animi, magni sit repellendus dolorum esse possimus molestias ipsum placeat, cupiditate nihil ratione molestiae repudiandae dolor temporibus.</span>
            <span>Id consequuntur at ipsam amet expedita, modi magnam eius omnis quod, quia eveniet hic culpa tempora alias mollitia enim veritatis, illo et commodi sunt porro, suscipit nam rerum! Incidunt, nihil!</span>
            <span>Architecto aut modi cumque quaerat dicta, quo sed eius enim laudantium vero vitae veritatis odit fuga officia ipsa qui natus et repellendus accusantium neque recusandae voluptatum. Consequatur nemo, enim doloribus.</span></p>
        </section>
      </div>
    </main>
  </div>
  //= include/footer.html
  <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.fancybox-1.3.4.min.js"></script>
  <script src="js/main.min.js"></script>
</body>

</html>