<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>zoloto-youdomy</title>
  <link rel="stylesheet" href="css/styles.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="page-body">
  //= include/header.html
  <div class="page-main__wrapper">
    <main class="page-main">
      <div class="title-section__wrapper">
        <section class="title-section title-section--main">О компании
          <div class="title-section__sub-text">История</div>
        </section>
      </div>
      <div class="content-section__wrapper">
        <section class="content-section">
          <div class="text-block">
           <h2 class="text-block__title">Title</h2>
            <p class="text-block__item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam dolores commodi sit cum. Ipsa non, dolorem qui quaerat maiores sequi facere dicta, velit ratione asperiores quae? Vel quo, dolor natus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique est sed doloribus distinctio voluptas earum aut aspernatur, perspiciatis placeat nulla. Placeat blanditiis doloremque illo provident rem quisquam deleniti, adipisci ad. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi aperiam provident eum, iste natus minus earum dolore deleniti voluptatibus, eius ullam placeat iusto corporis ipsam, accusantium voluptas dolores voluptate ex.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla eligendi amet aliquam beatae, porro aspernatur fugit itaque autem, suscipit pariatur nihil recusandae, libero laborum molestiae! Doloribus tempora vero labore! Blanditiis.
            Cupiditate ducimus deleniti modi asperiores in saepe, facilis! Cumque debitis reprehenderit quos dicta sit, amet non, est natus quod, porro excepturi rem. Ut reprehenderit doloremque expedita, doloribus molestias iusto perferendis?
            Doloremque nisi modi repudiandae atque non dolor, officia. Consequuntur modi, aut alias impedit quod voluptatum beatae voluptate laboriosam aperiam numquam, suscipit asperiores odit nihil? Aliquid delectus laudantium nihil illum saepe.</p>
          </div>
        </section>
      </div>
    </main>
  </div>
  //= include/footer.html
</body>

</html>