<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>zoloto-youdomy</title>
  <link rel="stylesheet" href="css/styles.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="page-body">
  //= include/header.html
  <div class="page-main__wrapper">
    <main class="page-main">
      <div class="title-section__wrapper">
        <section class="title-section title-section--main">Золото Юдомы</section>
      </div>
      <div class="content-section__wrapper">
        <section class="content-section">
          <div class="content-section__text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus nesciunt cumque ipsum inventore quis nemo velit facere, ab facilis in officiis quos animi molestias, voluptatum natus deserunt sint, commodi similique.</p>
          </div>
        </section>
      </div>
    </main>
  </div>
  //= include/footer.html
</body>

</html>