<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>zoloto-youdomy</title>
  <link rel="stylesheet" href="css/styles.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="page-body">
  //= include/header.html
  <div class="page-main__wrapper">
    <main class="page-main">
      <div class="title-section__wrapper">
        <section class="title-section title-section--main">Золото Юдомы</section>
      </div>
      <div class="content-section__wrapper">
        <section class="content-section">
          <div class="content-section__text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus nesciunt cumque ipsum inventore quis nemo velit facere, ab facilis in officiis quos animi molestias, voluptatum natus deserunt sint, commodi similique.</p>
          </div>
          <div class="features__wrapper">
            <div class="features">
              <div class="features-item">
                <img src="../img/features_tools.svg" alt="" class="features-item__img">
                <b class="features-item__title">Технология добычи</b>
                <p class="features-item__text">Производство ведется открытым способом.
                </p>
              </div>
              <div class="features-item">
                <img src="../img/features_location.svg" alt="" class="features-item__img">
                <b class="features-item__title">Местонахождение</b>
                <p class="features-item__text">Руч. Джайканга, Республика Саха (Якутия); пойма реки Юдома, Хабаровский край.</p>
              </div>
              <div class="features-item">
                <img src="../img/features_ecomics.svg" alt="" class="features-item__img">
                <b class="features-item__title">Экономические показатели</b>
                <p class="features-item__text">Объем инвестиций: 280 млн. руб. <br> Рентабельность ЧП – 37%</p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
  </div>
  //= include/footer.html
</body>

</html>