<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>zoloto-youdomy</title>
  <link rel="stylesheet" href="css/styles.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="page-body">
  //= include/header.html
  <div class="page-main__wrapper">
    <main class="page-main">
      <div class="title-section__wrapper">
        <section class="title-section">О компании <div class="title-section__sub-text">Руководство</div></section>
      </div>
      <div class="content-section__wrapper">
        <section class="content-section">
          <div class="leadership">
            <div class="leadership__item">
              <img src="http://placehold.it/150x150/faced" alt="">
              <div class="leadership__item-name">Иванов Иван Иванович</div>
              <div class="leadership__item-descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, perspiciatis, laboriosam? Enim nobis earum tempora, rem saepe ea quo ducimus iusto dignissimos id. Quis hic molestias, dolorum nisi a molestiae. lorem</div>
              <div class="leadership__item-contacts"><a href="">ivanov.ivan@mail.ru</a></div>
            </div>
            <div class="leadership__item">
              <img src="http://placehold.it/150x150/faced" alt="">
              <div class="leadership__item-name">Иванов Иван Иванович</div>
              <div class="leadership__item-descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, perspiciatis, laboriosam? Enim nobis earum tempora, rem saepe ea quo ducimus iusto dignissimos id. Quis hic molestias, dolorum nisi a molestiae. lorem</div>
              <div class="leadership__item-contacts"><a href="">ivanov.ivan@mail.ru</a></div>
            </div>
            <div class="leadership__item">
              <img src="http://placehold.it/150x150/faced" alt="">
              <div class="leadership__item-name">Иванов Иван Иванович</div>
              <div class="leadership__item-descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, perspiciatis, laboriosam? Enim nobis earum tempora, rem saepe ea quo ducimus iusto dignissimos id. Quis hic molestias, dolorum nisi a molestiae. lorem</div>
              <div class="leadership__item-contacts"><a href="">ivanov.ivan@mail.ru</a></div>
            </div>
          </div>
        </section>
      </div>
    </main>
  </div>
  //= include/footer.html
  <script src="js/main.min.js"></script>
</body>

</html>