<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>zoloto-youdomy</title>
  <link rel="stylesheet" href="css/styles.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="page-body">
  //= include/header.html
  <div class="page-main__wrapper">
    <main class="page-main">
      <div class="title-section__wrapper">
        <section class="title-section">Новости</section>
      </div>
      <div class="content-section__wrapper">
        <section class="content-section">
          <div class="news">
            <a class="news__item" href="#!">
              <h2 class="news__item-title">Инновационный способ добычи</h2>
              <p class="news__item-descr">Новая технология работает в четыре-восемь раз быстрее классического метода, а также гораздо меньше подвержена воздействию нежелательных примесей, таких как медь.Благодаря этому горнодобытчики будут тратить гораздо меньше усилий и ресурсов на очистку золота от меди, чем раньше.</p>
              <span class="news__item-button">Читать далее</span>
            </a>
            <a class="news__item" href="#!">
              <h2 class="news__item-title">Инновационный способ добычи</h2>
              <p class="news__item-descr">Новая технология работает в четыре-восемь раз быстрее классического метода, а также гораздо меньше подвержена воздействию нежелательных примесей, таких как медь.Благодаря этому горнодобытчики будут тратить гораздо меньше усилий и ресурсов на очистку золота от меди, чем раньше.</p>
              <span class="news__item-button">Читать далее</span>
            </a>
            <a class="news__item" href="#!">
              <h2 class="news__item-title">Инновационный способ добычи</h2>
              <p class="news__item-descr">Новая технология работает в четыре-восемь раз быстрее классического метода, а также гораздо меньше подвержена воздействию нежелательных примесей, таких как медь.Благодаря этому горнодобытчики будут тратить гораздо меньше усилий и ресурсов на очистку золота от меди, чем раньше.</p>
              <span class="news__item-button">Читать далее</span>
            </a>
            <a class="news__item" href="#!">
              <h2 class="news__item-title">Инновационный способ добычи</h2>
              <p class="news__item-descr">Новая технология работает в четыре-восемь раз быстрее классического метода, а также гораздо меньше подвержена воздействию нежелательных примесей, таких как медь.Благодаря этому горнодобытчики будут тратить гораздо меньше усилий и ресурсов на очистку золота от меди, чем раньше.</p>
              <span class="news__item-button">Читать далее</span>
            </a>
            <a class="news__item" href="#!">
              <h2 class="news__item-title">Инновационный способ добычи</h2>
              <p class="news__item-descr">Новая технология работает в четыре-восемь раз быстрее классического метода, а также гораздо меньше подвержена воздействию нежелательных примесей, таких как медь.Благодаря этому горнодобытчики будут тратить гораздо меньше усилий и ресурсов на очистку золота от меди, чем раньше.</p>
              <span class="news__item-button">Читать далее</span>
            </a>
            <a class="news__item" href="#!">
              <h2 class="news__item-title">Инновационный способ добычи</h2>
              <p class="news__item-descr">Новая технология работает в четыре-восемь раз быстрее классического метода, а также гораздо меньше подвержена воздействию нежелательных примесей, таких как медь.Благодаря этому горнодобытчики будут тратить гораздо меньше усилий и ресурсов на очистку золота от меди, чем раньше.</p>
              <span class="news__item-button">Читать далее</span>
            </a>
            <a class="news__item" href="#!">
              <h2 class="news__item-title">Инновационный способ добычи</h2>
              <p class="news__item-descr">Новая технология работает в четыре-восемь раз быстрее классического метода, а также гораздо меньше подвержена воздействию нежелательных примесей, таких как медь.Благодаря этому горнодобытчики будут тратить гораздо меньше усилий и ресурсов на очистку золота от меди, чем раньше.</p>
              <span class="news__item-button">Читать далее</span>
            </a>
            <a class="news__item" href="#!">
              <h2 class="news__item-title">Инновационный способ добычи</h2>
              <p class="news__item-descr">Новая технология работает в четыре-восемь раз быстрее классического метода, а также гораздо меньше подвержена воздействию нежелательных примесей, таких как медь.Благодаря этому горнодобытчики будут тратить гораздо меньше усилий и ресурсов на очистку золота от меди, чем раньше.</p>
              <span class="news__item-button">Читать далее</span>
            </a>
          </div>
        </section>
      </div>
    </main>
  </div>
  //= include/footer.html
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.fancybox-1.3.4.min.js"></script>
  <script src="js/main.min.js"></script>
</body>

</html>