<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>zoloto-youdomy</title>
  <link rel="stylesheet" href="css/styles.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="page-body">
  //= include/header.html
  <div class="page-main__wrapper">
    <main class="page-main">
      <div class="title-section__wrapper">
        <section class="title-section title-section--main">Партнеры</section>
      </div>
      <div class="content-section__wrapper">
        <section class="content-section">
          <div class="partners">
            <div class="partners__item">АО "Генбанк"
            </div>
            <div class="partners__item">ПАО "Якутскэнерго"
            </div>
            <div class="partners__item">ООО Рудник "Дуэт"
            </div>
            <div class="partners__item">АО "Саханефтегазсбыт"
            </div>
            <div class="partners__item">АО "ПЗЦМ"
            </div>
            <div class="partners__item">АО "Якутскгеофизика"
            </div>
            <div class="partners__item">Администрация муниципального образования городского поселения "Поселок Югоренок"
            </div>
            <div class="partners__item">АО "Сталепромышленная компания"
            </div>
            <div class="partners__item">ООО Старательская Артель "Золото Ыныкчана"
            </div>
            <div class="partners__item">Депертамент по лесным отношениям Республики Саха (Якутия)
            </div>
            <div class="partners__item">Государственное бюджетное учреждение Республики Саха (Якутия) "Республиканский информационно-аналитический центр экологического мониторинга" ГБУ РС(Я) "РИАЦЭМ"
            </div>
            <div class="partners__item">Департамент по лесным отношениям Республики Саха (Якутия)
            </div>
            <div class="partners__item">ООО артель старателей "Дражник"
            </div>
            <div class="partners__item">Государственное учреждение Республики Саха (Якутия) "Якутлесресурс"
            </div>
            <div class="partners__item">АО "Горнопромышленная финансовая компания"
            </div>
            <div class="partners__item">ПАО "Магаданский механический завод"
            </div>
          </div>
        </section>
      </div>
    </main>
  </div>
  //= include/footer.html
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.fancybox-1.3.4.min.js"></script>
  <script src="js/main.min.js"></script>
</body>

</html>