<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>zoloto-youdomy</title>
  <link rel="stylesheet" href="css/styles.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="page-body">
  //= include/header.html
  <div class="page-main__wrapper">
    <main class="page-main">
      <div class="title-section__wrapper">
        <section class="title-section title-section--main">Вакансии</section>
      </div>
      <div class="content-section__wrapper">
        <section class="content-section">
          <div class="vacancies">
            <div class="vacancies__item">
              <h2 class="vacancies__item-name">Front-end разработчик</h2>
              <div class="vacancies__item-demands">Требования:
                <ul class="vacancies__item-demands-list">
                  <li class="vacancies__item-demands-list-item">Хорошее знание современных HTML/CSS, Javascript, браузерных API;</li>
                  <li class="vacancies__item-demands-list-item">Опыт работы с React или другим реактивным фреймворком;</li>
                  <li class="vacancies__item-demands-list-item">Опыт работы с системами контроля версий.</li>
                </ul>
              </div>
              <div class="vacancies__item-salary">Зрплата: 60 000 - 80 000 </div>
              <div class="vacancies__item-feedback">Присылайте короткий рассказ о себе на <a href="mailto:zoloto-youdomy@mail.ru">zoloto-youdomy@mail.ru</a></div>
            </div>
            <div class="vacancies__item">
              <h2 class="vacancies__item-name">Front-end разработчик</h2>
              <div class="vacancies__item-demands">Требования:
                <ul class="vacancies__item-demands-list">
                  <li class="vacancies__item-demands-list-item">Хорошее знание современных HTML/CSS, Javascript, браузерных API;</li>
                  <li class="vacancies__item-demands-list-item">Опыт работы с React или другим реактивным фреймворком;</li>
                  <li class="vacancies__item-demands-list-item">Опыт работы с системами контроля версий.</li>
                </ul>
              </div>
              <div class="vacancies__item-salary">Зрплата: 60 000 - 80 000 </div>
              <div class="vacancies__item-feedback">Присылайте короткий рассказ о себе на <a href="mailto:zoloto-youdomy@mail.ru">zoloto-youdomy@mail.ru</a></div>
            </div>
            <div class="vacancies__item">
              <h2 class="vacancies__item-name">Front-end разработчик</h2>
              <div class="vacancies__item-demands">Требования:
                <ul class="vacancies__item-demands-list">
                  <li class="vacancies__item-demands-list-item">Хорошее знание современных HTML/CSS, Javascript, браузерных API;</li>
                  <li class="vacancies__item-demands-list-item">Опыт работы с React или другим реактивным фреймворком;</li>
                  <li class="vacancies__item-demands-list-item">Опыт работы с системами контроля версий.</li>
                </ul>
              </div>
              <div class="vacancies__item-salary">Зрплата: 60 000 - 80 000 </div>
              <div class="vacancies__item-feedback">Присылайте короткий рассказ о себе на <a href="mailto:zoloto-youdomy@mail.ru">zoloto-youdomy@mail.ru</a></div>
            </div>
          </div>
        </section>
      </div>
    </main>
  </div>
  //= include/footer.html
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.fancybox-1.3.4.min.js"></script>
  <script src="js/main.min.js"></script>
</body>

</html>