<div class="page-header__wrapper">
  <header class="page-header">
    <div class="page-header__logo">
      <a href="index.html" class="page-header__desktop-link"><img src="img/logo.svg" alt="" class="page-header__logo-image"></a>
      <a href="index.html" class="page-header__mobile-link">Золото юдомы</a>
    </div>
    <div class="main-nav">
      <button class="main-nav__toggle">Открыть меню</button>
      <ul class="main-nav__list">
        <li class="main-nav__list-item"><a href="">О компании</a>
          <div class="main-nav__list-level">
            <div class="main-nav__list-level-title">О компании</div>
            <ul class="main-nav__list-inner">
              <li class="main-nav__list-inner-item"><a href="">Структура</a></li>
              <li class="main-nav__list-inner-item"><a href="history.html">История</a></li>
              <li class="main-nav__list-inner-item"><a href="leadership.html">Руководство</a></li>
            </ul>
          </div>
        </li>
        <li class="main-nav__list-item"><a href="partners.html">Партнеры</a>
        </li>
        <li class="main-nav__list-item"><a href="news.html">Новости</a>
        </li>
        <li class="main-nav__list-item"><a href="license.html">Лицензии</a>
        </li>
        <li class="main-nav__list-item"><a href="galery.html">Фото</a></li>
        <li class="main-nav__list-item"><a href="vacancies.html">Вакансии</a></li>
        <li class="main-nav__list-item"><a href="feedback.html">Обратная связь</a></li>
        <li class="main-nav__list-item"><a href="">Контакты</a></li>
      </ul>
    </div>
  </header>
  <div class="page-header__bottom"><span class="page-header__bottom-content">ООО «Томпо-аурум»</span><span class="page-header__bottom-content">ООО «Гранд-маркет»</span></div>
</div>