<div class="page-header__wrapper">
  <header class="page-header">
    <div class="page-header__logo">
      <a href="index.html"><img src="../../img/logo.svg" alt="" class="page-header__logo-image"></a>
    </div>
    <div class="main-nav">
      <ul class="main-nav__list">
        <li class="main-nav__list-item"><a href="">О компании</a>
          <div class="main-nav__list-level">
            <div class="main-nav__list-level-title">О компании</div>
            <ul class="main-nav__list-inner">
              <li class="main-nav__list-inner-item"><a href="">Структура</a></li>
              <li class="main-nav__list-inner-item"><a href="">История</a></li>
              <li class="main-nav__list-inner-item"><a href="">Руководство</a></li>
            </ul>
          </div>
        </li>
        <li class="main-nav__list-item"><a href="">Партнеры</a>
          <div class="main-nav__list-level">
            <div class="main-nav__list-level-title">Партнеры</div>
            <ul class="main-nav__list-inner">
              <li class="main-nav__list-inner-item"><a href="">Список компаний партнеров</a></li>
            </ul>
          </div>
        </li>
        <li class="main-nav__list-item"><a href="">Лицензии</a>
          <div class="main-nav__list-level">
            <div class="main-nav__list-level-title">Лицензии</div>
            <ul class="main-nav__list-inner">
              <li class="main-nav__list-inner-item"><a href="">Сканы лицензий</a></li>
            </ul>
          </div>
        </li>
        <li class="main-nav__list-item"><a href="">Фото</a></li>
        <li class="main-nav__list-item"><a href="">Вакансии</a></li>
        <li class="main-nav__list-item"><a href="">Обратная связь</a></li>
        <li class="main-nav__list-item"><a href="">Контакты</a></li>
      </ul>
    </div>
  </header>
</div>