@font-face {
  font-family: "Open sans";
  font-weight: 400;
  src: url(../fonts/opensans.woff2), url(../fonts/opensans.woff);
}

@font-face {
  font-family: "Open sans";
  font-weight: 700;
  src: url(../fonts/opensansbold.woff2), url(../fonts/opensansbold.woff);
}
