.main-nav {}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    letter-spacing: 4px;
    transition: 0.4s all;
    &:hover {
      color: #000;
    }
  }
  &-item {
    border-top: 1px solid #ffffff;
    padding-left: 58px;
    transition: 0.4s all;
    &:last-child {
      border-bottom: 1px solid #ffffff;
    }
    &:hover .main-nav__list-level {
      visibility: visible;
      opacity: 1;
      height: 100vh;
      z-index: 100;
    }
    &:hover {
      padding-left: 50px;
    }
    &:hover .main-nav__list-level a {}
  }
  &-level {
    position: absolute;
    top: 0;
    right: 0;
    height: 0;
    background-color: #49647F;
    padding-left: 40px;
    width: 220px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all ease;
    transform: translateX(100%);
    transition-delay: 0.2s;
    &-title {
      height: 204px;
      font-size: 20px;
      padding-top: 88px;
      box-sizing: border-box;
      color: #fafafa;
    }
  }
  &-inner {
    list-style: none;
    padding: 0;
    margin: 0;
    &-item {
      padding-top: 1px;
    }
  }
}

.main-nav__toggle {
  display: none;
}

@media #{$mobile-widths} {
  .main-nav__list-item {
    position: relative;
    padding-left: 20px;
  }
  .main-nav__list {
    visibility: hidden;
    width: 0;
    height: 0;
    padding: 0;
    transition: 0.4s height;
    position: absolute;
    background-color: #283340;
    overflow: hidden;
    &-item {
      &:hover {
        padding-left: 20px;
      }
      &:hover .main-nav__list-level {
        visibility: visible;
        opacity: 1;
        height: auto;
        z-index: 100;
      }
    }
    &--open {
      width: 100%;
      height: 592px;
      visibility: visible;
      transition: 0.4s height;
    }
    &-inner {
      &-item {
        a {
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }
  }
  .main-nav__list-level {
    display: block;
    position: static;
    transform: translateX(0);
    visibility: visible;
    height: auto;
    margin-left: -20px;
    font-size: 16px;
    opacity: 1;
    padding-left: 30px;
    width: 100%;
    &-title {
      display: none;
    }
  }
  .main-nav__toggle {
    position: absolute;
    background-color: #fff;
    display: block;
    width: 24px;
    height: 2px;
    font-size: 0;
    border: none;
    right: 20px;
    top: 36px;
    transition: 0.4s all;
    z-index: 999;
    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: #fff;
      width: 100%;
      height: 100%;
      left: 0;
      transition: 0.4s all;
    }
    &::before {
      top: -7px;
    }
    &::after {
      bottom: -7px;
    }
    &--open {
      background-color: transparent;
      top: 44px;
      &::after {
        transform: rotate(45deg) translate(-10px, -10px);
      }
      &::before {
        transform: rotate(-45deg);
      }
    }
  }
}