.owl-carousel {
  &--main {
    box-sizing: border-box;
    padding-right: 20px;
    & .owl-next {
      right: 0px;
    }
  }
}

@media #{$mobile-widths} {
  .owl-carousel {
    &--main {
      box-sizing: border-box;
      padding-right: 0;
      display: none;
      & .owl-next {
        right: 10px;
        border-color: gold;
      }
      & .owl-prev {
        left: 10px;
        border-color: gold;
      }
    }
  }
}