.page-header__wrapper {
  background-color: #283340;
  width: 280px;
  height: 100vh;
  min-height: 550px;
  position: fixed;
  top: 0;
  left: 0;
  letter-spacing: 1px;
  z-index: 999;
}
.page-header{
  position: static;
}
.page-header__logo-image {
  transform: translateX(-25px);
  outline: none;
}
.page-header__bottom{
  display: flex;
  width: 100%;
  position: absolute;
  box-sizing: border-box;
  padding-left: 58px;
  bottom: 0;
  &-content{
    margin-right: 10px;
    color: #ccc;
    font-size: 8px;
    opacity: 0.6;
  }
}
div {
  //@extend %center;
}

@media #{$tablet-widths} {
  header {
    
  }
}