.title-section__wrapper {}

.title-section {
  border-bottom: 1px solid #444;
  font-size: 24px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffcc00;
  padding-left: 35px;
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url(../img/pic_4blur.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Comfortaa";
  color: #fff;
  &:first-letter {
    color: gold;
  }
  &__sub-text {
    font-size: 16px;
    position: absolute;
    text-transform: none;
    margin-top: 10px;
  }
  &--main{
    .title-section__sub-text{
      color: gold;
      text-transform: uppercase;
      margin-left: 46px;
    }
  }
}

@media #{$mobile-widths} {
  .title-section {
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 19px;
    &--main {
      font-size: 18px;
      padding-bottom: 25px;
      .title-section__sub-text{
        margin-left: 0;
        font-size: 14px;
      }
    }
    &__sub-text {
      line-height: 16px;
      margin-top: 0;
    }
  }
}